* {
 margin-top: 0;
 font-family: fantasy;
 font-style: bold;
 color: purple;
 background: #FFCEF5;
}

.header {
 padding-top: 1em;
}

#heading {
 display: flex;
 flex-direction: row;
 justify-content: center;
 font-size: 3em;
 color: purple;
}

#heading-2 {
 font-size: 2em;
 color: purple;
 display: flex;
 justify-content: center;
}

.nav-list , a{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 list-style-type: none;
 text-decoration: none;
 font-size: 25px;
 background: yellow;
 height: 2em;
 width: 20vw;
}
.nav-list:visited {
 color: red;
}

.nav-list:hover {
 color: blue;
}

.home:hover {
 transform: scale(1.2);
}

.about:hover {
 transform: scale(1.2);
}

.product:hover {
 transform: scale(1.2);
}

.order:hover {
 transform: scale(1.2);
}

.contact:hover {
 transform: scale(1.2);
}

.home-section , .about-section , .product-section{
 font-size: 2.5em;
 margin: 50px 10px 10px 10px;
 line-height: 1.5em;
}

hr {
 border: solid 2px;
 margin-bottom: 2em;
}

.pimple-patch , .lips-mask {
 margin-top: 2em;
}

h1 {
 font-size: 3em;
 display: flex;
 justify-content: center;
}

#mask {
 margin-left: 2em;
 margin-bottom: 2em;
}

#patch {
 margin-bottom: 2em;
 margin-left: 1.4em;
}

#lips {
 margin-bottom: 2em;
 margin-left: 2.9em;
}


#order {
 margin-top: 2em;
 margin-right: 2em;
 font-size: 1.2em;
 padding: 0.3em 0.7em 0.3em 0.7em;
}

#reset {
  font-size: 1.2em;
 padding: 0.3em;
 width: 5em;
}

#contact {
 margin-top: 2em;
 margin-bottom: 4em;
 font-size: 1.5em;
}

#footer {
  font-size: 1.5em;
}

img {
 width: 100vw;
 object-fit: fill;
 margin-right: px;
 margin-bottom: 20px;
}

@keyframes face1 {
 0% {
 transform: translateX(40px);
 transition: translateX 1s;
 }
 
 50% {
  transform: translateX(-40px);
 }
 100% {
 transform: translateX(40px);
 transition: translateX 2s;
 }
}
#face1 {
  animation-name: face1;
 animation-iteration-count: infinite;
 animation-duration: 4s;
 animation-direction: normal;
 animation-timing-function: ease-in-out
}

@keyframes face2 {
 0% {
 transform: translateX(-40px);
 transition: translateX 1s;
 }
 
 50% {
  transform: translateX(40px);
 }
 100% {
 transform: translateX(-40px);
 transition: translateX 2s;
 }
}
#face2 {
  animation-name: face2;
 animation-iteration-count: infinite;
 animation-duration: 4s;
 animation-direction: normal;
 animation-timing-function: ease-in-out
}


@keyframes face3 {
 0% {
 transform: translateX(40px);
 transition: translateX 1s;
 }
 
 50% {
  transform: translateX(-40px);
 }
 100% {
 transform: translateX(40px);
 transition: translateX 2s;
 }
}
#face3 {
  animation-name: face3;
 animation-iteration-count: infinite;
 animation-duration: 4s;
 animation-direction: normal;
 animation-timing-function: ease-in-out
}

@keyframes face4 {
 0% {
 transform: translateX(-40px);
 transition: translateX 1s;
 }
 
 50% {
  transform: translateX(40px);
 }
 100% {
 transform: translateX(-40px);
 transition: translateX 2s;
 }
}
#face4 {
  animation-name: face4;
 animation-iteration-count: infinite;
 animation-duration: 3s;
 animation-direction: normal;
 animation-timing-function: ease-in-out
}

@keyframes patch1 {
 0% {
  transform: rotateY(360deg);
 }
}

#patch1 {
   animation-name: patch1;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-direction: normal;
  animation-timing-function: ease-in-out
}

@keyframes patch2 {
 0% {
  transform: rotateX(360deg);
 }
}

#patch2 {
 animation-name: patch2;
 animation-iteration-count: infinite;
 animation-duration: 4s;
 animation-delay: 3s;
 animation-direction: normal;
 animation-timing-function: ease-in-out
}


@keyframes patch3 {
 0% {
  transform: rotateX(360deg);
 }
}

#patch3 {
 animation-name: patch3;
 animation-iteration-count: infinite;
 animation-duration: 4s;
 animation-delay: 4s;
 animation-direction: normal;
 animation-timing-function: ease-in-out
}

@keyframes lip1 {
 0% {
  transform: translateY(50px);
 }
 50% {
  transform: translateY(-50px);
 }
 100% {
  transform: translateY(50px);
 }
}

#lip1 {
 animation-name: lip1;
 animation-iteration-count: infinite;
 animation-duration: 4s;
 animation-delay: 3s;
 animation-direction: normal;
 animation-timing-function: ease-in-out
}

@keyframes lip2 {
 0% {
  transform: translateY(-50px);
 }
 50% {
  transform: translateY(50px);
 }
 100% {
  transform: translateY(-50px);
 }
}

#lip2 {
 animation-name: lip2;
 animation-iteration-count: infinite;
 animation-duration: 4s;
 animation-delay: 3s;
 animation-direction: normal;
 animation-timing-function: ease-in-out
}

@keyframes lip3 {
 0% {
  transform: translateY(50px);
 }
 50% {
  transform: translateY(-50px);
 }
 100% {
  transform: translateY(50px);
 }
}

#lip3 {
 animation-name: lip1;
 animation-iteration-count: infinite;
 animation-duration: 4s;
 animation-delay: 3s;
 animation-direction: normal;
 animation-timing-function: ease-in-out
}

input {
 margin-bottom: 2.5em;
 border-radius: 0.5em;
 border: solid 1px;
}

input:focus {
 outline:  grey;
}

#facial-mask-quantity {
 margin-left: 3em;
 padding: 5px;
}

#pimple-patch-quantity {
 margin-left: 1.9em;
 padding: 5px;
}

#lips-mask-quantity {

 padding: 5px;
}

#facial-mask-label {
 font-size: 1.5em;
}

#pimple-patch-label {
 font-size: 1.5em;
}

#lips-mask-label {
 font-size: 1.5em;
 margin-left: 0.8em;
 margin-right: 1.6em;
}
